<%= back_url_hidden_field_tag %>
<%= error_messages_for 'milestone' %>

<div class="box tabular">
  <p><%= f.text_field :name, :size => 60, :required => true %></p>
  <p><%= f.text_field :description, :size => 60 %></p>
  <p><%= f.select :kind, Milestone::MILESTONE_KINDS.collect {|s| [l("milestone_kind_#{s}"), s]}, {}, {:onchange => 'milestone_type_changed()'} %></p>
  <div id="internal_milestone_form_part">
    <p><%= f.select :project_id, options_for_select(Project.all.collect {|x| [x.name, x.id]}, @project.id), {}, {:onchange => "new_milestone_project_selected()"} %></p>
    <div id="subproject_placeholder" style="display:none">
        <p><%= f.select :subproject_id, {}, {:onchange => "new_milestone_subproject_selected()"} %></p>
    </div>
    <div id="version_placeholder">
        <p><%= f.select :version_id, @project.versions.collect {|x| [x.name, x.id]}, {}, {:onchange => "milestone_version_changed()"} %></p>
    </div>
  </div>
  <p><%= f.select :status, options_for_select(Milestone::MILESTONE_STATUSES.collect {|s| [l("version_status_#{s}"), s]}, @milestone.status) %></p>

  <div style="padding-left: 150px">
    <label for="milestone_fixed_start_date_true">
      <%= t(:milestone_start_date) %>
    </label><br>
    <%= link_to_function t(:recalculate_start_date), 'recalculate_start_date()', :style=>"float: left; margin-left: -150px;  #{"display: none" if @milestone.fixed_start_date}", :id=>'recalculate_start_date' %>
    <%= f.radio_button :fixed_start_date, true, :style=> 'display: inline-block', :checked=>@milestone.fixed_start_date, :onchange => 'start_date_radio_changed()' %>
    <div style="display: inline-block; margin-left: 180px" >
      <%= f.text_field :start_date, :size => 10, :value => @milestone.start_date, :disabled => !@milestone.fixed_start_date %><%= calendar_for('milestone_start_date') %>
    </div>
    <br>
    <%= f.radio_button :fixed_start_date, false, :style=>'display: inline-block', :onchange => 'start_date_radio_changed()', :checked => !@milestone.fixed_start_date %>
    <div style="display: inline-block; margin-left: 180px">
      <%= f.select :previous_start_date_milestone_id, options_for_select([['',0]] + Version.find(session[:version_id]).milestones.reject{|x| x.id == @milestone.id}.collect{|x| [x.name, x.id]},@milestone.previous_start_date_milestone_id), :disabled => @milestone.fixed_start_date %>
      <br>
      <%= f.text_field :start_date_offset, :disabled => @milestone.fixed_start_date %>
    </div>
  </div>

  <div style="padding-left: 150px">
    <label for="milestone_fixed_start_date_false">
      <%= t(:milestone_planned_end_date) %>
    </label><br>
    <%= link_to_function t(:recalculate_start_date), 'recalculate_planned_end_date()', :style=>"float: left; margin-left: -150px; #{"display: none" if @milestone.fixed_planned_end_date}", :id=>'recalculate_planned_end_date' %>
    <%= f.radio_button :fixed_planned_end_date, true, :style=> 'display: inline-block', :checked=>@milestone.fixed_planned_end_date, :onchange => 'planned_end_date_radio_changed()' %>
    <div style="display: inline-block; margin-left: 180px" >
      <%= f.text_field :planned_end_date, :size => 10, :value => @milestone.planned_end_date, :disabled => !@milestone.fixed_planned_end_date %><%= calendar_for('milestone_planned_end_date') %>
    </div>
    <br>
    <%= f.radio_button :fixed_planned_end_date, false, :style=>'display: inline-block', :onchange => 'planned_end_date_radio_changed()', :checked => !@milestone.fixed_planned_end_date %>
    <div style="display: inline-block; margin-left: 180px">
      <%= f.select :previous_planned_end_date_milestone_id, options_for_select([['',0]] + Version.find(session[:version_id]).milestones.reject{|x| x.id == @milestone.id}.collect{|x| [x.name, x.id]},@milestone.previous_planned_end_date_milestone_id), :disabled => @milestone.fixed_planned_end_date %>
      <br>
      <%= f.text_field :planned_end_date_offset, :disabled => @milestone.fixed_planned_end_date %>
    </div>
  </div>

  <p>
    <%= f.text_field :actual_date, :size => 10, :disabled => true, :value=> @milestone.actual_date %>
    <br>
    <%= link_to_function t(:recalculate_start_date), "recalculate_actual_date(#{@milestone.id})", :style=>'float: left; margin-left: -150px' %>
  </p>
  <p><%= f.select :sharing, @milestone.allowed_sharings.collect {|v| [format_version_sharing(v), v]} %></p>
  <% @milestones = @project.milestones.aggregate %>
  <%= render :partial =>"milestones/available_milestones" %>

  <p><%= f.select :user, @project.users.collect {|u| [u.name, u.id]} %></p>


</div>
<% content_for :header_tags do %>
    <%= javascript_include_tag "milestones.js", :plugin => 'redmine_milestones' %>
<% end %>