<%= back_url_hidden_field_tag %>
<%= error_messages_for 'milestone' %>

<div class="box tabular">
  <p><%= f.text_field :name, :size => 60, :required => true %></p>
  <p><%= f.text_field :description, :size => 60 %></p>
  <p><%= f.select :version_id, [['', 0]] + @project.versions.collect {|x| [x.name, x.id]} %></p>
  <div id="aggregate_milestone_form_part">
    <%= link_to_add_children_milestone_fields(t(:add_assigned_milestone), f, :parent_milestone_assignments ) %>
    <% f.fields_for :parent_milestone_assignments do |assignment| %>
        <%= render :partial => "parent_milestone_assignment_fields", :locals=>{:f=>assignment} unless assignment.object.nil? %>
    <% end %>
  </div>
  <p><%= f.select :status, options_for_select(Milestone::MILESTONE_STATUSES.collect {|s| [l("version_status_#{s}"), s]}, @milestone.status) %></p>

  <div style="padding-left: 175px">
    <label for="milestone_fixed_start_date_true">
      <%= t(:milestone_start_date) %>
    </label><br>
    <%= f.radio_button :fixed_start_date, true, :style=> 'display: inline-block; position: relative; top: -15px', :checked=>@milestone.fixed_start_date, :onchange => 'start_date_radio_changed()' %>
    <div style="display: inline-block; top: -15px; position: relative" >
      <%= text_field_tag "milestone[start_date]", @milestone.start_date, :size => 10, :disabled => !@milestone.fixed_start_date %><%= calendar_for('milestone_start_date') %>
    </div>
    <br>
    <%= f.radio_button :fixed_start_date, false, :style=>'display: inline-block;', :onchange => 'start_date_radio_changed()', :checked => !@milestone.fixed_start_date %>
    <div style="display: inline-block; margin-left: 0px">
      <%= label_tag "milestone[start_date_offset]", t(:field_previous_start_date_milestone), :style=>'float: none !important; margin-left: 0px !important' %>
      <%= select "milestone", "previous_start_date_milestone_id", options_for_select([['',0]] + Milestone.all.reject{|x| x.id == @milestone.id}.collect{|x| [x.composite_description, x.id]}, @milestone.previous_start_date_milestone_id), {}, {:disabled => @milestone.fixed_start_date} %>
      <%= label_tag "milestone[start_date_offset]", t(:field_start_date_offset), :style=>'float: none !important; margin-left: 0px !important' %>
      <%= text_field_tag "milestone[start_date_offset]", @milestone.start_date_offset, :disabled => @milestone.fixed_start_date %>
    </div>
  </div>

  <div style="padding-left: 175px">
    <label for="milestone_fixed_start_date_false">
      <%= t(:milestone_planned_end_date) %>
    </label><br>
    <%= f.radio_button :fixed_planned_end_date, true, :style=> 'display: inline-block; position: relative; top: -15px', :checked=>@milestone.fixed_planned_end_date, :onchange => 'planned_end_date_radio_changed()' %>
    <div style="display: inline-block; top: -15px; position: relative" >
      <%= text_field_tag "milestone[planned_end_date]", @milestone.planned_end_date, :size => 10, :disabled => !@milestone.fixed_planned_end_date %><%= calendar_for('milestone_planned_end_date') %>
    </div>
    <br>
    <%= f.radio_button :fixed_planned_end_date, false, :style=>'display: inline-block', :onchange => 'planned_end_date_radio_changed()', :checked => !@milestone.fixed_planned_end_date %>
    <div style="display: inline-block; margin-left: 0px">
      <%= label_tag "milestone[planned_end_date_offset]", t(:field_previous_planned_end_date_milestone), :style=>'float: none !important; margin-left: 0px !important' %>
      <%= select "milestone", "previous_planned_end_date_milestone_id", options_for_select([['',0]] + Milestone.all.reject{|x| x.id == @milestone.id}.collect{|x| [x.composite_description, x.id]}, @milestone.previous_planned_end_date_milestone_id), {}, {:disabled => @milestone.fixed_planned_end_date} %>
      <%= label_tag "milestone[planned_end_date_offset]", t(:field_planned_end_date_offset), :style=>'float: none !important; margin-left: 0px !important' %>
      <%= text_field_tag "milestone[planned_end_date_offset]", @milestone.planned_end_date_offset, :disabled => @milestone.fixed_planned_end_date %>
    </div>
  </div>

  <p>
    <%= f.text_field :actual_date, :size => 10, :disabled => true, :value=> @milestone.actual_date %>
    <br>
  </p>
  <p><%= f.select :sharing, @milestone.allowed_sharings.collect {|v| [format_version_sharing(v), v]}, {}, {:onchange => "milestone_sharing_changed('#{@project.id}')"} %></p>
  <div id="assigned_projects_placeholder" style="width: 600px;<%= "display: none" unless @milestone.sharing == "specific" %>">
    <%= select_tag :available_projects, options_for_select(Project.unassigned_with(@milestone).collect{|x| [x.name, x.id]}), :multiple => true, :style=>'margin-left: 180px; width: 200px' %>
    <div id="buttons" style="display: inline-block">
      <%= button_to_function ">>", 'move_selected_to_assigned()', :id=>'move_selected_to_assigned_button' %>
      <br/>
      <%= button_to_function "<<", 'move_assigned_to_selected()', :id=>'move_selected_to_assigned_button' %>
    </div>
    <%= select_tag "milestone[assigned_projects]", options_for_select(@milestone.projects.collect{|x| [x.name, x.id]}), :multiple => true, :style=>'width: 200px' %>
  </div>

  <p><%= f.select :user_id, [['',0]] + @project.users.collect {|u| [u.name, u.id]}, :label => t(:Owner) %></p>

</div>
<% content_for :header_tags do %>
    <%= javascript_include_tag "milestones.js", :plugin => 'redmine_milestones' %>
<% end %>
