<div id="milestone_#{milestone.id}" class="milestone">
  <%= image_tag('milestone.png', :plugin=>'redmine_milestones', :style=>'vertical-align: top') %>
  <div style="display: inline-block">
    <h3>
      <%= link_to milestone.name, milestone_path(milestone) %>
    </h3>
    <p>
      <%=  milestone.description %>
    </p>
    <% if milestone.completed? %>
        <p><%= milestone.actual_date.strftime('%d-%m-%Y') if milestone.actual_date.present? %></p>
    <% elsif milestone.actual_date %>
        <p><strong><%= due_date_distance_in_words(milestone.actual_date) %></strong> (<%= milestone.actual_date.strftime('%d-%m-%Y') %>)</p>
    <% end %>
    <% if milestone.issues_count > 0 %>
        <%= progress_bar([milestone.closed_pourcent, milestone.completed_pourcent], :width => '40em', :legend => ('%0.0f%' % milestone.completed_pourcent)) %>
        <p class="progress-info">
          <%= link_to(l(:label_x_issues, :count => milestone.issues_count),
                      project_issues_path(milestone.project, :status_id => '*', :milestone_id => milestone, :set_filter => 1)) %>
          &nbsp;
          (<%= link_to_if(milestone.closed_issues_count > 0, l(:label_x_closed_issues_abbr, :count => milestone.closed_issues_count),
                          project_issues_path(milestone.project, :status_id => 'c', :milestone_id => milestone, :set_filter => 1)) %>
          &#8212;
          <%= link_to_if(milestone.open_issues_count > 0, l(:label_x_open_issues_abbr, :count => milestone.open_issues_count),
                         project_issues_path(milestone.project, :status_id => 'o', :milestone_id => milestone, :set_filter => 1)) %>)
        </p>
    <% else %>
        <p class="progress-info"><%= l(:label_roadmap_no_issues) %></p>
    <% end %>

  </div>
  <% unless milestone.issues.empty? %>
      <% form_tag({}) do -%>
          <table class="list related-issues">
            <caption><%= l(:label_related_issues) %></caption>
            <% milestone.issues.visible.each do |issue| -%>
                <tr class="hascontextmenu">
                  <td class="checkbox"><%= check_box_tag 'ids[]', issue.id, false, :id => nil %></td>
                  <td><%= link_to_issue(issue, :project => (@project != issue.project)) %></td>
                </tr>
            <% end -%>
          </table>
      <% end %>
  <% end %>
  <% visited_milestones ||= Set.new %>
  <% visited_milestones << milestone.id %>
  <% unless milestone.children.empty? %>
    <% if params[:completed_milestones] %>
      <%= render :partial => "milestones/milestone", :collection => milestone.children.reject{|x| visited_milestones.include? x.id}, :locals => {:visited_milestones => visited_milestones} %>
    <% else %>
      <%= render :partial => "milestones/milestone", :collection => milestone.children.opened.reject{|x| visited_milestones.include? x.id}, :locals => {:visited_milestones => visited_milestones} %>
    <% end %>
  <% end %>
</div>
