<div class="contextual">
  <%= link_to(l(:button_edit), edit_milestone_path(@milestone), :class => 'icon icon-edit') if User.current.allowed_to?(:manage_milestones, @milestone.project) %>
  <%= link_to(l(:button_delete), milestone_path(@milestone, :back_url => url_for(:controller => 'versions', :action => 'index', :project_id => @milestone.project)),
              :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del') if User.current.allowed_to?(:manage_versions, @milestone.project) %>
  <%= link_to l(:label_reports), report_milestone_path(@milestone), :class => 'icon icon-add' if User.current.allowed_to?(:manage_versions, @milestone.project) %>
</div>

<h2>
  <%= "#{h(@milestone.version.name)}/" unless @milestone.version.nil? %>
  <%= h(@milestone.name) %>
</h2>

<table width='100%'>
  <tr valign='top'>
    <td valign='top'>
      <% if @issues.present? %>
          <% form_tag({}) do -%>
              <table class="list related-issues">
                <caption><%= l(:label_related_issues) %></caption>
                <%- @issues.each do |issue| -%>
                    <tr class="hascontextmenu">
                      <td><%= link_to_issue(issue, :project => (@project != issue.project)) %></td>
                    </tr>
                <% end %>
              </table>
          <% end %>
          <%= context_menu issues_context_menu_path %>
      <% end %>

      <%= render :partial => 'milestones/overview', :locals => {:milestone => @milestone} %>
      <% unless @milestone.children.empty? %>
          <table class="list related-issues">
            <caption><%= l(:label_related_milestones) %></caption>
            <%- @milestone.children.each do |milestone| -%>
                <tr class="hascontextmenu">
                  <td><%= link_to_milestone(milestone) %></td>
                </tr>
            <% end %>
          </table>
      <% end %>
    </td>
    <td width="540px" valign='top'>
      <% if @milestone.estimated_hours > 0 || User.current.allowed_to?(:view_time_entries, @project) %>
          <fieldset class="time-tracking"><legend><%= l(:label_time_tracking) %></legend>
            <table>
              <tr>
                <th><%= l(:field_estimated_hours) %></th>
                <td class="total-hours"><%= html_hours(l_hours(@milestone.estimated_hours)) %></td>
              </tr>
              <% if User.current.allowed_to?(:view_time_entries, @project) %>
                  <tr>
                    <th><%= l(:label_spent_time) %></th>
                    <td class="total-hours"><%= html_hours(l_hours(@milestone.spent_hours)) %></td>
                  </tr>
              <% end %>
              <% if @milestone.previous_milestone.present? %>
                  <tr>
                    <th><%= l(:Previous_milestone) %></th>
                    <td class="total-hours">
                      <%= link_to @milestone.previous_milestone.name, milestone_path(@milestone.previous_milestone) %>
                    </td>
                  </tr>
              <% end %>
              <% if @milestone.next_milestone.present? %>
                  <tr>
                    <th><%= l(:Next_milestone) %></th>
                    <td class="total-hours">
                      <%= link_to @milestone.next_milestone.name, milestone_path(@milestone.next_milestone) %>
                    </td>
                  </tr>
              <% end %>
              <% if @milestone.user.present? %>
                  <tr>
                    <th><%= l(:Owner) %></th>
                    <td class="total-hours">
                      <%= @milestone.user.name %>
                    </td>
                  </tr>
              <% end %>
            </table>
          </fieldset>
          <fieldset class="time-tracking"><legend><%= l(:dates) %></legend>
            <table>
              <tr>
                <td>
                  <%= t(:planned_actual_start_date) %>:
                </td>
                <td>
                  <% if @milestone.start_date.present? %>
                      <%= @milestone.start_date.strftime("%d-%m-%Y") %>
                  <% else %>
                      <%= t(:n_a) %>
                  <% end %>
                  /
                  <% if @milestone.actual_start_date.present? %>
                    <%= @milestone.actual_start_date.strftime("%d-%m-%Y") %>
                  <% else %>
                    <%= t(:n_a) %>
                  <% end %>
                  <% if @milestone.actual_start_date.present? and @milestone.start_date.present? and @milestone.actual_start_date > @milestone.start_date %>
                    (
                    <%= distance_of_time_in_words(@milestone.actual_start_date, @milestone.start_date) %>
                    <%= t(:days_delay) %>
                    )
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= t(:planned_actual_end_date) %>:
                </td>
                <td>
                  <% if @milestone.planned_end_date.present? %>
                      <%= @milestone.planned_end_date.strftime("%d-%m-%Y") %>
                  <% else %>
                      <%= t(:n_a) %>
                  <% end %>
                  /
                  <% if @milestone.actual_date.present? %>
                      <%= @milestone.actual_date.strftime("%d-%m-%Y") %>
                  <% else %>
                      <%= t(:n_a) %>
                  <% end %>
                  <% if @milestone.actual_date.present? and @milestone.planned_end_date.present? and @milestone.actual_date > @milestone.planned_end_date %>
                      (
                      <%= distance_of_time_in_words(@milestone.actual_date, @milestone.planned_end_date) %>
                      <%= t(:days_delay) %>
                      )
                  <% end %>
                </td>
              </tr>
            </table>
          </fieldset>
    <% end %>
    </td>
  </tr>
</table>


<% html_title @milestone.name %>
