<div class="contextual">
  <%= image_tag('lightning.png', :plugin => 'redmine_milestones') %>
  <%= link_to_function t(:recalculate_start_date), 'javascript:void(0)' %>
  <%= image_tag('lightning.png', :plugin => 'redmine_milestones') %>
  <%= link_to_function t(:recalculate_planned_end_date), 'javascript:void(0)' %>
  <%= image_tag('lightning.png', :plugin => 'redmine_milestones') %>
  <%= link_to_function t(:recalculate_actual_date), "javascript:void(0)" %>

  <%= link_to(l(:button_edit), edit_milestone_path(@milestone), :class => 'icon icon-edit') if User.current.allowed_to?(:manage_milestones, @milestone.project) %>
  <%= link_to(l(:button_delete), milestone_path(@milestone, :back_url => url_for(:controller => 'versions', :action => 'index', :project_id => @milestone.project)),
              :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del') if User.current.allowed_to?(:manage_versions, @milestone.project) %>

</div>

<h2><%= h(@milestone.name) %></h2>

<div id="roadmap">
  <%= render :partial => 'milestones/overview', :locals => {:milestone => @milestone} %>

  <div id="version-summary">
    <% if @milestone.estimated_hours > 0 || User.current.allowed_to?(:view_time_entries, @project) %>
        <fieldset class="time-tracking"><legend><%= l(:label_time_tracking) %></legend>
          <table>
            <tr>
              <th><%= l(:field_estimated_hours) %></th>
              <td class="total-hours"><%= html_hours(l_hours(@milestone.estimated_hours)) %></td>
            </tr>
            <% if User.current.allowed_to?(:view_time_entries, @project) %>
                <tr>
                  <th><%= l(:label_spent_time) %></th>
                  <td class="total-hours"><%= html_hours(l_hours(@milestone.spent_hours)) %></td>
                </tr>
            <% end %>
            <% if @milestone.start_date.present? %>
                <tr>
                  <th><%= l(:Start_date) %></th>
                  <td class="total-hours">
                    <%= @milestone.start_date %>
                  </td>
                </tr>
            <% end %>
            <% if @milestone.planned_end_date.present? %>
                <tr>
                  <th><%= l(:Due_date) %></th>
                  <td class="total-hours">
                    <%= @milestone.planned_end_date %>
                  </td>
                </tr>
            <% end %>
            <% if @milestone.actual_date.present? %>
                <tr>
                  <th><%= l(:Actual_date) %></th>
                  <td class="total-hours">
                    <%= @milestone.actual_date %>
                  </td>
                </tr>
            <% end %>
            <% if @milestone.previous_milestone.present? %>
                <tr>
                  <th><%= l(:Previous_milestone) %></th>
                  <td class="total-hours">
                    <%= link_to @milestone.previous_milestone.name, milestone_path(@milestone.previous_milestone) %>
                  </td>
                </tr>
            <% end %>
            <% if @milestone.next_milestone.present? %>
                <tr>
                  <th><%= l(:Next_milestone) %></th>
                  <td class="total-hours">
                    <%= link_to @milestone.next_milestone.name, milestone_path(@milestone.next_milestone) %>
                  </td>
                </tr>
            <% end %>
            <% if @milestone.user.present? %>
                <tr>
                  <th><%= l(:Owner) %></th>
                  <td class="total-hours">
                    <%= @milestone.user.name %>
                  </td>
                </tr>
            <% end %>
          </table>
        </fieldset>
    <% end %>

  </div>

  <% if @issues.present? %>
      <% form_tag({}) do -%>
          <table class="list related-issues">
            <caption><%= l(:label_related_issues) %></caption>
            <%- @issues.each do |issue| -%>
                <tr class="hascontextmenu">
                  <td class="checkbox"><%= check_box_tag 'ids[]', issue.id, false, :id => nil %></td>
                  <td><%= link_to_issue(issue, :project => (@project != issue.project)) %></td>
                </tr>
            <% end %>
          </table>
      <% end %>
      <%= context_menu issues_context_menu_path %>
  <% end %>
</div>

<% html_title @milestone.name %>
